* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif ;
}
.heroSection{
background: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
background-size: cover;
background-position: center;
color: white;
}
.navb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 20px 50px;
}
.navb a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
.getIt{
    padding-top: 30px;
}
.Menu{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-right: 100px;
}

    
.image{
    height: 90px;
    padding: 10px 0px 0px 40px ;
}
 .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    gap: 2px;
    height: calc(90vh-50px);
 }   
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: lighter;
}
.pending{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: lighter;
}
.inputContainer{
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 35%;
    border-radius: 20px;

}   
.ip1,
.ip2{
padding: 5px;
border: none;
}
.ip1{
    width: 32%;
    border-right: 2px solid black;
}
.ip2{
    width: 65%;
}
.India{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 40px;
}
.flags{
height: 50px;
width: 60px;
margin: 10px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    forced-color-adjust: #696969;
}
.p2{
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
forced-color-adjust: #696969;
}
.location{
    max-width: 100%;
   margin: 50px ;

/* display: grid;
gap: 12px;
grid-template-columns: repeat(3 , 1fr);
grid-template-rows: repeat(10 , 1fr); */
display: flex;
justify-content: space-evenly;
align-items: center;
}
.l{
text-transform: uppercase;
margin-top: 20px;
width: 400px;
height: 80px;
border: 1px solid rgb(121, 113, 113);
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
text-overflow: ellipsis;
}
.l a{
    color: black;
    text-decoration: none;
}
.GetTheApp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 150px;
    
}
.GetTheApp .left img{
    
    width: 250px;
}
.GetTheApp .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.right h1{
    font-weight: 500;
    font-size: 45px;
}  
.right p{
    font-size: 18px;
    color: rgb(54, 54, 54);
}
.radio1 , .radio2 {
    color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.applink input{
    height: 40px;
    width: 300px;
    border-radius: 5%;
    border: 1.5px solid grey;
    
}
.applink button{
    height: 40px;
    width: 150px;
    background-color: rgb(255, 79, 95);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.DownloadApp h5{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(156, 156, 156);
}
.Pl img{
    width: 120px;
    height: 40px;
    cursor: pointer;

}
@media only screen and (max-width: 600px){
    .link{
        display: none;
    }
    .Container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .ip1,
    .ip2{
    padding: 18px;
    border-radius: 10px;
    width: 98%;
    }
}

@media(max-width: 1440px) {
    .l {
        width: 280px;
        height: 50px;
    }
}

@media(max-width: 1140px){
     .para, .p2 {
        font-size: 16px;
    }
}

@media(max-width: 990px) {
    .l {
        width: 80vw;
        height: 70px;
    }
    .location {
        flex-direction: column;
    }
}

.India, .para, .p2 {
    text-align: center;
}
